body {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;     
    height: 100vh;
    width: 100vw;
    margin: 0;   
    position: relative;        
}

.background-img{
    position: absolute;
    background-image: url('/static/images/backgroundhwei.jpeg');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    font-family: 'Inter';
    text-align: center; 
    margin-bottom: 50px;     
}

.title {
    font-family: inherit;
    font-size: 36px;
    color: white;
    text-shadow: 2px 4px 2px black;
}

span {
    font-family: "Inter";
    color: white;
}

.champion-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-text{
    width: 550px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: "Inter";
    margin-left: 30px;
}


.nav-bar{
    display: flex;
    width: 98vw;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}
.nav-img {
    width: 45px;
    height: 45px;
    padding: 10px;
    padding-inline: 10px;
    transition-duration: 300ms;
}

.nav-img:hover{
    opacity: 0.5;
    width: 50px;
    height: 50px;
    padding: 1px;
    padding-inline: 8px;
    
}

.linkedin {
    width: 63px;
    height: 63px;
    padding: 11px;
    padding-inline: -71px;
    transition-duration: 300ms;
}

.linkedin:hover{
    opacity: 0.5;
    width: 71px;
    height: 71px;
    padding: 7px;
    padding-inline: -88px;
}

.bi-search{
    margin-left: 10px;
    border: 1px solid white;
    padding: 7px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 300ms; 
}

.bi-search:hover{
    opacity: 0.7;
    color: violet;
}

#result{
    font-family: 'Inter';
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* Estilo para o contêiner da build */
.result-container {
    display: flex;
    flex-wrap: wrap;  /* Permite que os itens quebrem para a linha seguinte se necessário */
    gap: 10px;        /* Espaçamento entre os itens */
    margin-top: 20px; /* Margem superior para separar do título */
}

/* Estilo para cada item da build */
.item-container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); /* Fundo semi-transparente */
    border-radius: 10px;
    padding: 10px;
}

.item-img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.item-img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.item-name {
    font-family: 'Inter';
    color: white;
    margin-left: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*Animação de Deslizar*/
.slide-in {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 1.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.rune-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; /* Margem superior para separação das builds */
    flex-wrap: wrap;  /* Permite que runas sejam organizadas em linha, se necessário */
    background: rgba(0, 0, 0, 0.3); /* Fundo semi-transparente */
}

/* Estilo específico para as imagens de runas */
.rune-img {
    width: 410px; /* Tamanho da runa */
    height: 248px;
    margin: 5px; /* Espaçamento entre as runas */
}

@media (width < 800px) {
    .enter-text{
        width: 100%;
    }
}