<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Hwei Page</title>
</head>
<body>
    <div class="background-img"></div>
    <div class="center-box">
        <h1 class="title">HWEI NEMEZYS</h1>
        <span>Esse é um gerador de build para o campeão hwei, confia na call que aqui é o meta</span>
    </div>
    <div class="champion-selector">
        <input class="enter-text" type="text" id="champion" placeholder="Digite o campeão inimigo"/>
    </div>
<script src="/main.js"></script>     
</body>
</html>