body {
    background: linear-gradient(
        to bottom,
        #b94c25,
        rgb(113, 7, 105),
        rgb(52, 121, 180)
    );
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;     
    height: 100vh;
    width: 98vw;
    margin: 0;   
    position: relative;        
}

.background-img{
    position: absolute;
    background-image: url('/images/4k_render_png_hwei_league_of_legends__7680x4320__by_kindraven_dguta2v-fullview.png');
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    font-family: 'Inter';
    text-align: center; 
    margin-bottom: 50px;     
}

.title {
    font-family: inherit;
    font-size: 36px;
    color: white;
}

span {
    font-family: inherit;
    color: white;
}

.champion-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-text{
    width: 550px;
    height: 40px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-family: "Inter";
}
.nav-bar{
    display: flex;
    width: 98vw;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
}
.nav-img {
    width: 55px;
    height: 55px;
    padding: 10px;
    padding-inline: 35px;
    transition-duration: 300ms;
}

.nav-img:hover{
    opacity: 0.5;
    width: 60px;
    height: 60px;
    padding: 7px;
    padding-inline: 32px;
    
}

.linkedin {
    width: 73px;
    height: 73px;
    padding: 10px;
    padding-inline: -91px;
    transition-duration: 300ms;
}

.linkedin:hover{
    opacity: 0.5;
    width: 80px;
    height: 80px;
    padding: 7px;
    padding-inline: -88px;
}

@media (width < 800px) {
    .enter-text{
        width: 100%;
    }
}